<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Link</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="font-sans bg-grey5">
    <div class="flex min-h-screen">
      <div class="flex-wrap w-0 md:w-sidebar"></div>
      <div class="flex-grow w-full">
        <div>
          <header class="" >
              <div class="text-center text-warning">
                <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
                <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
             </div>
            <nav class="flex items-center h-topbar">
              <div class="flex-grow pl-4 md:pl-0">
                  <a href="https://test.link.eyra.co">
                    <img src="<%= Routes.static_path(@conn, "/images/eyra-logo.svg") %>" alt="Eyra Link Logo"/>
                  </a>
              </div>
              <%= if Pow.Plug.current_user(@conn) do %>
                <div class="flex-none p-4">
                  <%= button "Uitloggen",
                    class: "inline-block py-3 px-6 mt-0 leading-none font-bold text-md text-white bg-grey1 hover:bg-secondary hover:text-grey1 rounded",
                    method: :delete,
                    to: Routes.pow_session_path(@conn, :delete) %>
                </div>
              <% end %>
            </nav>
          </header>
        </div>
        <div class="flex h-full bg-white">
          <div class="flex-wrap"></div>
          <div class="flex-grow h-full">
            <main role="main" class="h-full w-full">
              <%= @inner_content %>
            </main>
          </div>
          <div class="flex-wrap w-0 md:w-sidebar"></div>
        </div>
      </div>
    </div>
  </body>
</html>
