<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Link</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="font-body bg-grey5">
    <div class="flex min-h-screen">
      <div class="flex-wrap w-0 lg:w-sidebar"></div>
      <div class="flex-grow w-full">
        <div>
          <header>
            <div class="fixed text-warning">
              <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
              <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            </div>
            <nav class="flex items-center h-topbar sm:h-topbar-sm lg:h-topbar-lg">
              <div class="flex-none pl-4 lg:pl-0">
                  <a href="/">
                    <img class="h-logo sm:h-logo-sm" src="<%= Routes.static_path(@conn, "/images/eyra-logo.svg") %>" alt="Eyra Link Logo"/>
                  </a>
              </div>
              <div class="flex-grow ml-2 lg:ml-6">
                <div class="flex items-center">
                  <%= if Pow.Plug.current_user(@conn) do %>
                    <%= if can?(@conn, nil, LinkWeb.StudyController, :new) do %>
                      <div class="flex-none lg:pr-4 text-button font-button">
                        <%= menu_button dgettext("eyra-study", "new.button"), Routes.study_path(@conn, :new) %>
                      </div>
                    <% end %>
                    <div class="flex-grow lg:pr-4 text-button font-button">
                      <%= menu_button dgettext("eyra-study", "dashboard.button"), Routes.dashboard_path(@conn, :index) %>
                    </div>
                    <div class="flex-none lg:pr-4 text-button font-button">
                      <%= menu_button dgettext("eyra-account", "profile.button"), Routes.user_profile_path(@conn, :edit) %>
                    </div>
                  <% else %>
                    <div class="flex-grow"></div>
                    <div class="flex-none pr-1 lg:pr-4">
                      <%= menu_button dgettext("eyra-account", "signin.button"), Routes.pow_session_path(@conn, :new) %>
                    </div>
                  <% end %>
                  <div class="flex-none pl-1 pr-3 lg:pr-6 lg:pl-6 lg:pr-16 -mt-0.5">
                   <%= for {locale, _name} <- supported_languages() do %>
                      <%= language_button @conn, locale %>
                   <% end %>
                  </div>
                </div>
              </div>
            </nav>
          </header>
        </div>
        <div class="flex h-full bg-white">
          <div class="flex-wrap"></div>
          <div class="flex-grow h-full">
            <main role="main" class="h-full w-full">
              <%= @inner_content %>
            </main>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
