<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= Meta.bundle_title(@conn) %></title>
    <%= csrf_meta_tag() %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, viewport-fit=cover, user-scalable=no, initial-scale=1.0" />
    <meta name="theme-color" content="#4272ef">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@1.1.x/dist/index.min.js"></script>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="manifest" href="/manifest.json">
    <link
      rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>"
    />
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>" defer></script>
  </head>
  <body class="font-body bg-grey5 scrollbar-hide" x-data="{ overlay: false}" >
    <div class="fixed z-10 w-full h-full bg-black bg-opacity-20" x-show="overlay"></div>
    <div class="flex flex-row">
      <div
          class="fixed z-20 top-6 w-full pointer-events-none"
          x-data="{ visible: <%= get_flash(@conn, :error) != nil %> }"z
          x-show="visible"
      >
        <div class="flex flex-row items-center justify-center" >
          <div class="max-w-form flex-shrink-0 pointer-events-auto" >
            <div class="text-label font-label bg-white rounded shadow-2xl">
              <div class="flex flex-row">
                <div
                  class="alert alert-danger text-warning flex-wrap p-4 leading-6"
                  role="alert"
                  phx-click="lv:clear-flash"
                  phx-value-key="error"
                >
                  <p><%= get_flash(@conn, :error) %></p>
                </div>

                <button
                  x-on:click="visible = false"
                  type="button"
                  class="w-button-sm h-button-sm flex-shrink-0 cursor-pointer active:opacity-50 mt-5 mr-4 mb-4"
                >
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="#F28D15"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex-grow">
          <%= @inner_content %>
        </div>
      </div>
    </div>
  </body>
</html>
