<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Link</title>
    <%= csrf_meta_tag() %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4272ef">
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@1.1.x/dist/index.min.js"></script>
    <link rel="apple-touch-icon" href="/images/eyra-logo-apple.png">
    <link rel="manifest" href="/manifest.json">
    <link
      rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>"
    />
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>" defer></script>
  </head>
  <body class="font-body bg-grey5"
        x-data="{ overlay: false, menu: true }"
        :class="{'menu': menu}"
        @toggle-menu="menu = !menu">
    <div class="fixed z-10 w-full h-full bg-black bg-opacity-30" x-show="overlay"></div>
    <div class="flex flex-row min-h-screen">
      <div
          class="fixed z-20 top-6 w-full pointer-events-none"
          x-data="{ visible: <%= get_flash(@conn, :error) != nil %> }"
          x-show="visible"
      >
        <div class="flex flex-row items-center justify-center" >
          <div class="max-w-form flex-shrink-0 pointer-events-auto" >
            <div class="text-label font-label bg-white rounded shadow-2xl">
              <div class="flex flex-row">
                <div
                  class="alert alert-danger text-warning flex-wrap p-4 leading-6"
                  role="alert"
                  phx-click="lv:clear-flash"
                  phx-value-key="error"
                >
                  <p><%= get_flash(@conn, :error) %></p>
                </div>

                <button
                  x-on:click="visible = false"
                  type="button"
                  class="w-button-sm h-button-sm flex-shrink-0 cursor-pointer active:opacity-50 mt-5 mr-4 mb-4"
                >
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="#F28D15"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-0 lg:w-sidebar"></div>
      <div class="w-full">
        <div class="flex flex-col h-full">
          <%= if not native_wrapper?(@conn) do %>
          <header class="flex-wrap">
            <nav
              class="flex items-center h-topbar sm:h-topbar-sm lg:h-topbar-lg"
            >
              <div class="flex-none pl-4 lg:pl-0">
                <a href="/">
                  <img
                    class="h-logo sm:h-logo-sm"
                    src="<%= Routes.static_path(@conn, "/images/eyra-logo.svg") %>"
                    alt="Eyra Link Logo"
                  />
                </a>
              </div>
              <div class="flex-grow ml-2 lg:ml-6">
                <div class="flex items-center">
                  <%= if current_user(@conn) do %>
                    <div class="flex-none lg:pr-4 text-button font-button">
                      <%= menu_button dgettext("eyra-study", "dashboard.button"), Routes.live_path(@conn, CoreWeb.Dashboard) %>
                    </div>
                    <div class="flex-grow"></div>
                    <div class="flex-none lg:pr-4 text-button font-button">
                      <%= menu_button dgettext("eyra-account", "profile.button"), Routes.live_path(@conn, CoreWeb.User.Profile) %>
                    </div>
                  <% else %>
                    <div class="flex-grow"></div>
                    <div class="flex-none pr-1 lg:pr-4">
                      <%= menu_button dgettext("eyra-account", "signin.button"), Routes.user_session_path(@conn, :new) %>
                    </div>
                  <% end %>
                  <div class="flex-none pl-1 pr-3 lg:pl-6 lg:pr-16 -mt-0.5">
                    <%= for {locale, _name} <- supported_languages() do %>
                      <%= language_button Routes.language_switch_path(@conn, :index, locale, redir: @conn.request_path), Routes.static_path(@conn, "/images/" <> locale <> ".svg") %>
                    <% end %>
                  </div>
                </div>
              </div>
            </nav>
          </header>
          <% end %>
          <div class="flex-grow">
            <div class="flex flex-col h-full bg-white">
              <div class="flex-wrap"></div>
              <div class="flex-grow">
                <%= @inner_content %>
              </div>
              <div class="flex-wrap mt-8 md:mt-8">
                <footer>
                  <%= footer Routes.static_path(@conn, "/images/footer-left.svg"), Routes.static_path(@conn, "/images/footer-right.svg") %>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
