<button
    class="h-10 pl-3 pr-3 lg:pl-4 lg:pr-4 text-button font-bold hover:bg-opacity-10 hover:bg-primary focus:text-primary focus:outline-none rounded-full"
    data-csrf=<%= @csrf_token %>
    data-method=<%= @method %>
    data-to= <%= @path %> >
    <%= @label %>
</button>
