<%= button(
    method: @method,
    to: @path,
    class: "flex items-center justify-center leading-none pl-4 pr-4 h-48px focus:outline-none hover:bg-opacity-80 rounded " <> @color)
    do
    [
        content_tag(:text, class: "text-white text-button font-button ") do @label end
    ]
    end
%>
