You have made an account on Panl. To use Panl visit:

http://www.researchpanl.eu

If you have questions about the platform, sent an email to
info@researchpanl.eu. For technical feedback contact
support@eyra.co.

We hope you will enjoy using Panl.

Kind regards,
Team Panl
