services:
  app:
    container_name: app
    environment:
      - DB_CA_PATH=/app/certs/ca.crt
      - DB_TLS_VERIFY=verify_peer
    build:
      dockerfile: Dockerfile
      context: .
      target: dev
    ports:
      - 4000:4000
    volumes:
      - .:/app
      - db_certs:/app/certs

  db:
    container_name: db
    build:
      context: .
      dockerfile: Dockerfile-postgres
    ports:
      - 5432:5432
    volumes:
      - db_certs:/var/lib/postgresql/ssl
      - ./postgres_data:/var/lib/postgresql
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: next_dev
    command: >
      postgres  -c ssl=on
                -c ssl_cert_file=/var/lib/postgresql/ssl/server.crt
                -c ssl_key_file=/var/lib/postgresql/ssl/server.key

volumes:
  db_certs: