services:
  app:
    container_name: app
    environment:
      - DB_CA_PATH=/app/postgres_ssl/ca.crt
      - DB_TLS_VERIFY=verify_peer
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - 4000:4000
    volumes:
      - .:/app
    networks:
      - next

  db:
    container_name: db
    image: postgres:12
    ports:
      - 5432:5432
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: next_dev
    volumes:
      - ./postgres_ssl:/var/lib/postgresql/ssl
    command: >
      postgres  -c ssl=on
                -c ssl_cert_file=/var/lib/postgresql/ssl/server.crt
                -c ssl_key_file=/var/lib/postgresql/ssl/server.key
    networks:
      - next

networks:
  next:
    driver: bridge