<%= form_for @changeset, @action, fn f -> %>
<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
  </div>
<% end %>
<%= label f, :fullname %>
<%= text_input f, :fullname %>
<%= error_tag f, :fullname %>
<div>
  <%= label f, :researcher %>
  <%= checkbox f, :researcher %>
  <%= error_tag f, :researcher %>
</div>
<div>
  <%= submit "Save" %>
</div>
<% end %>
