
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= Meta.bundle_title() %></title>
    <%= csrf_meta_tag() %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, viewport-fit=cover, user-scalable=no, initial-scale=1.0" />
    <meta name="theme-color" content="#F6F6F6">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@1.1.x/dist/index.min.js"></script>
    <link
      rel="stylesheet"
      href="/css/app.css"
    />
    <script src="/js/app.js" defer></script>
  </head>
  <body class="font-body bg-grey5 scrollbar-hidden" x-data="{ overlay: false}" >
    <div class="fixed z-10 w-full h-full bg-black bg-opacity-20" x-show="overlay"></div>
    <div class="flex flex-row">
      <div class="flex flex-col w-full">
        <div class="flex-grow">
            <%= @inner_content %>
        </div>
      </div>
    </div>
  </body>
</html>
