<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link</title>
    <link
      rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>"
    />
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="font-body bg-grey5 h-screen">
    <div class="flex flex-row h-full">
      <div class="h-full w-0 lg:w-sidebar"></div>
      <div class="h-full w-full">
        <div class="flex flex-col h-full">
          <header class="flex-wrap">
            <div class="fixed text-warning">
              <p class="alert alert-info" role="alert">
                <%= get_flash(@conn, :info) %>
              </p>
              <p class="alert alert-danger" role="alert">
                <%= get_flash(@conn, :error) %>
              </p>
            </div>
            <nav
              class="flex items-center h-topbar sm:h-topbar-sm lg:h-topbar-lg"
            >
              <div class="flex-none pl-4 lg:pl-0">
                <a href="/">
                  <img
                    class="h-logo sm:h-logo-sm"
                    src="<%= Routes.static_path(@conn, "/images/eyra-logo.svg") %>"
                    alt="Eyra Link Logo"
                  />
                </a>
              </div>
              <div class="flex-grow ml-2 lg:ml-6">
                <div class="flex items-center">
                  <%= if current_user(@conn) do %>
                    <div class="flex-none lg:pr-4 text-button font-button">
                      <%= menu_button dgettext("eyra-study", "dashboard.button"), Routes.live_path(@conn, LinkWeb.Dashboard) %>
                    </div>
                    <%= if can?(@conn, nil, LinkWeb.StudyController, :new) do %>
                      <div
                        class="hidden sm:block flex-none lg:pr-4 text-button font-button"
                      >
                        <%= menu_button dgettext("eyra-study", "new.button"), Routes.live_path(@conn, LinkWeb.Study.New) %>
                      </div>
                    <% end %>
                    <div class="flex-grow"></div>
                    <div class="flex-none lg:pr-4 text-button font-button">
                      <%= menu_button dgettext("eyra-account", "profile.button"), Routes.live_path(@conn, LinkWeb.User.Profile) %>
                    </div>
                  <% else %>
                    <div class="flex-grow"></div>
                    <div class="flex-none pr-1 lg:pr-4">
                      <%= menu_button dgettext("eyra-account", "signin.button"), Routes.user_session_path(@conn, :new) %>
                    </div>
                  <% end %>
                  <div class="flex-none pl-1 pr-3 lg:pl-6 lg:pr-16 -mt-0.5">
                    <%= for {locale, _name} <- supported_languages() do %>
                      <%= language_button Routes.language_switch_path(@conn, :index, locale, redir: @conn.request_path), Routes.static_path(@conn, "/images/" <> locale <> ".svg") %>
                    <% end %>
                  </div>
                </div>
              </div>
              <%= render "_user_menu.html", assigns %>
            </nav>
          </header>
          <div class="flex-grow">
            <div class="flex flex-col h-full bg-white">
              <div class="flex-wrap"></div>
              <div class="flex-grow">
                <%= @inner_content %>
              </div>
              <div class="flex-wrap mt-8 md:mt-8">
                <footer>
                  <%= footer Routes.static_path(@conn, "/images/footer-left.svg"), Routes.static_path(@conn, "/images/footer-right.svg") %>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
