<h1>Edit Participant</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.participant_path(@conn, :update, @participant)) %>

<span><%= link "Back", to: Routes.participant_path(@conn, :index) %></span>
