[Unit]
Description={{bundle}}

[Service]
User={{bundle}}
Group={{bundle}}
Type=simple
ExecStart=/home/{{bundle}}/current/bin/core start
Restart=on-failure
AmbientCapabilities=CAP_NET_BIND_SERVICE

Environment="HTTP_PORT=80"
Environment="HTTPS_PORT=443"
Environment="DB_NAME={{db_name}}"
Environment="DB_USER={{db_user}}"
Environment="DB_PASS={{db_pass}}"
Environment="DB_HOST={{db_host}}"
Environment="BUNDLE_DOMAIN={{bundle_domain}}"
Environment="LETS_ENCRYPT_DIRECTORY_URL={{lets_encrypt_directory_url}}"
Environment="LETS_ENCRYPT_DB={{lets_encrypt_db}}"
Environment="SECRET_KEY_BASE={{secret_key_base}}"
Environment="SURFCONEXT_SITE={{surfconext_site}}"
Environment="SURFCONEXT_CLIENT_ID={{surfconext_client_id}}"
Environment="SURFCONEXT_CLIENT_SECRET={{surfconext_client_secret}}"
Environment="GOOGLE_SIGN_IN_CLIENT_ID={{google_sign_in_client_id}}"
Environment="GOOGLE_SIGN_IN_CLIENT_SECRET={{google_sign_in_client_secret}}"
Environment="UNSPLASH_APP_NAME={{unsplash_app_name}}"
Environment="UNSPLASH_ACCESS_KEY={{unsplash_access_key}}"
Environment="SIGN_IN_WITH_APPLE_CLIENT_ID={{sign_in_with_apple_client_id}}"
Environment="SIGN_IN_WITH_APPLE_TEAM_ID={{sign_in_with_apple_team_id}}"
Environment="SIGN_IN_WITH_APPLE_PRIVATE_KEY_ID={{sign_in_with_apple_private_key_id}}"
Environment="SIGN_IN_WITH_APPLE_PRIVATE_KEY_PATH={{sign_in_with_apple_private_key_path}}"
Environment="MAILGUN_API_KEY={{mailgun_api_key}}"
Environment="WEB_PUSH_PUBLIC_KEY={{web_push_public_key}}"
Environment="WEB_PUSH_PRIVATE_KEY={{web_push_private_key}}"

[Install]
WantedBy=multi-user.target
