@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Finador';
  src: url('../static/fonts/Finador-Regular/font.woff2') format('woff2'), url('../static/fonts/Finador-Regular/font.woff') format('woff');
}

@font-face {
  font-family: 'Finador';
  src: url('../static/fonts/Finador-RegularOblique/font.woff2') format('woff2'), url('../static/fonts/Finador-RegularOblique/font.woff') format('woff');
}
