<h1>Edit Survey tool</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.study_survey_tool_path(@conn, :update, @study, @survey_tool)) %>

<span><%= link "Back", to: Routes.study_survey_tool_path(@conn, :index, @study) %></span>
