<p>You have made an account on Panl. To use Panl visit
<a href="http://www.researchpanl.eu">www.researchpanl.eu</a> and
log in. If you have questions about the platform, sent an email
to <a href="mailto:info@researchpanl.eu">info@researchpanl.eu</a>. For technical feedback contact
<a href="mailto:support@eyra.co.">support@eyra.co</a>.
</p>

<p>We hope you will enjoy using Panl.</p>

<p>Kind regards,<br>
Team Panl
</p>
