<h1>New password</h1>

You have requested a new password for your Next account. Click <a href="<%= @url %>">here</a> to create a new password.
If you did not request a new password, you can discard this email.
<br /><br />
Kind regards,
<br /><br />
The Eyra team
