Password reset

You have requested a password reset on Next. Click the following link to create a new password: <%= @url %>.
If you did not request a password reset, you can discard this email.

Kind regards,

The Eyra team