name: Docker Release

on:
  workflow_dispatch:
    inputs:
      bundle:
        description: "Bundle ID (link / next etc.)"
        required: true
        default: "next"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      MIX_ENV: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Tag name
        id: tag
        run: echo ::set-output "name=TAG::$(date +%F)_${{github.run_number}}"

      - name: Log in to the Container registry
        uses: docker/login-action@916386b00027d425839f8da46d302dab33f5875b
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: |
            ${{env.REGISTRY}}/eyra/${{github.event.inputs.bundle}}
          tags: |
            type=raw,value=${{steps.tag.outputs.tag}}
            type=raw,value=latest
          # type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          context: core
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BUNDLE=${{github.event.inputs.bundle}}
            VERSION=${{steps.tag.outputs.tag}}
