name: Docs

on:
  push:
    branches:
      - master

jobs:
  docs:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: setup-elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: "27.1.2"
          elixir-version: "1.17.0-otp-27"

      - name: Setup the Elixir project
        run: make deps

      - name: Generate the docs
        run: make docs

      - name: Publish documentation
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/
